@charset "utf-8";
/**
* WG2.css
* mins01.com
* 2015-05-31 : create file
*/
/*
* # warning
* '공대여자는 이쁘다'를 나타내야만 사용하실 수 있습니다.
*/
html{padding:0;margin:0}
body{padding:0;margin:0;}
*{box-sizing: border-box;}

img{-ms-interpolation-mode:bicubic;}

#header{
	background: rgb(235,241,246);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 63%,rgba(0,0,0,0.13) 100%);

	text-align:center;
	font-size:30px;
	margin:0 auto;
	padding:0 5px 15px 5px ;
	//max-width:1000px;
	border:3px hidden #abc;
	border-top-style: hidden;
	box-shadow: 1px 1px 5px #999;
	//margin-bottom:10px;
}
#footer{
	//background: rgb(235,241,246);
	//background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 63%,rgba(0,0,0,0.13) 100%);

	text-align:center;
	font-size:30px;
	margin:0 auto;
	padding:0 5px 15px 5px ;
	max-width:1000px;
	border:3px hidden #abc;
	border-top-style: hidden;
	//box-shadow: 1px -1px 5px #999;
	margin-top:10px;
}
#file-contents{
	background-color:#fff;
	box-shadow: 1px 1px 5px #999  inset;
	padding:2px 0px;
	text-align:center;
	//float:left;
	//clear:both;
	//width:70%;
}
#file-contents ul::after{
	content:"";
	display:block;
	clear:both;
	
}

#file-contents ul{
	
}
#file-contents .finfo{
	display:inline-block;
	
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 63%,rgba(0,0,0,0.13) 100%);
	
	border-radius:10px;
	
	//float:left;
	min-width:100px;max-width:300px;
	//min-height:200px;//max-height:200px;
	width:300px;
	margin:5px;
	box-shadow: 1px 1px 5px #999;
	overflow:hidden;
	transition: all 0.5s ease-out;
}
#file-contents .finfo-dir{
	background: linear-gradient(to bottom, rgba(232,219,137,0.1) 0%,rgba(232,219,137,0.2) 63%,rgba(232,219,137,0.5) 100%);
}
#file-contents .finfo-image{
	background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
}



#file-contents .finfo:hover{
	box-shadow: 0px 0px 10px #369;
}
#file-contents .finfo a.title{
	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;

	background: rgb(235,241,246);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 63%,rgba(0,0,0,0.13) 100%);
	border:3px hidden #abc;
	border-top-style: hidden;
	border-top-left-radius:inherit;
	border-top-right-radius:inherit;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	padding:0 3px 5px 3px ;
	
	box-shadow: 0px 1px 2px #999;
	//content:attr(data-wg2-type)":"attr(data-wg2-basename);
	display:block;
	word-break:break-all;
	margin-bottom:3px;
	font-size:smaller;
}
#file-contents .finfo-dir  a.title{
	background: linear-gradient(to bottom, rgba(232,219,137,0.1) 0%,rgba(232,219,137,0.2) 63%,rgba(232,219,137,0.5) 100%);
}
#file-contents .finfo-image a.title{
	background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
}

#file-contents .finfo::after{
	
}
/* */

#file-contents .finfo .previewbox{
	padding:0px;
	margin:0px auto 2px auto;
	height:300px;
	overflow:hidden;
	position:relative;
	text-align: center;
	
}
#file-contents .finfo-image .previewbox{
	display:table-cell;
	vertical-align: middle;
	width: 300px;
}
	
#file-contents .finfo .previewbox::after{
	position:absolute;
	content:attr(data-wg2-footcomment);
	top: 100%;	left:0;right:0px;
	margin-top:-22px;
	height:20px;
	opacity:0.5;
	z-index:1;
}
#file-contents .finfo-image .previewbox::before{
	position:absolute;
	content:attr(data-wg2-headcomment);
	top: 0;	left:0;right:0px;
	margin-top:0px;
	height:20px;
	opacity:0.5;
	z-index:1;
}
#file-contents .finfo .previewbox a{
	border-width:0px;
}
#file-contents .finfo .previewbox .editurl{
	position:absolute;
	top: 100%;	right:2px;
	margin-top:-42px;
	height:40px;
	opacity:0.5;
	z-index:2;
}
#file-contents .finfo:hover .previewbox .editurl{
opacity:1;
}
/* 미리보기 이미지  */
#file-contents .finfo .previewbox img{
	max-width:100%;
	max-height:100%;
	background-image:url("../img/bg.gif");
}

/* 속에 속 */
#file-contents .finfo .finfo{
	min-width: initial;
	width:144px;
	margin:1px;
	box-shadow: 1px 0px 2px #ccc;
}
#file-contents .finfo .finfo  a.title{
	display:none;
}
#file-contents .finfo .finfo .previewbox::after{
	display:none;
}
#file-contents .finfo .finfo::before{
font-size:smaller;
}
#file-contents .finfo  .finfo .previewbox{
	height:142px;
}
#file-contents .finfo .finfo .previewbox .editurl{
	display:none;
}
/*  */
#hidden-section{display:none;}


#postBottom{position:fixed;bottom:0; height:0px;width:0px; overflow:hidden; }



#file-upload{margin:5px 0; padding:5px 10px;box-sizing: border-box;width:100%;}

#file-upload .row{ width: 100%;}


#upfile-contents{margin:5px auto;text-align:center;}
#upfile-contents .result-false{color:red;}
#upfile-contents .result-true{color:blue;}


@media (max-width: 1200px) {
	
}
@media (max-width: 992px) {
	#file-contents .finfo{
		width:200px;
	}
	#file-contents .finfo .previewbox{
		height:200px;
	}
	#file-contents .finfo .finfo{
		min-width: initial;
		width:98px;
		margin:1px;
		box-shadow: 1px 0px 2px #ccc;
	}
	#file-contents .finfo  .finfo .previewbox{
		height:98px;
	}
}
@media (max-width: 768px) {
	*::-webkit-scrollbar {
	  width: 0px;
	}
	
	#header{
		background: rgb(235,241,246);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 63%,rgba(0,0,0,0.13) 100%);

		text-align:center;
		font-size:18px;
		margin:0 auto;
		padding:0 5px 15px 5px ;
		//max-width:1000px;
		border:3px hidden #abc;
		border-top-style: hidden;
		box-shadow: 1px 1px 5px #999;
		//margin-bottom:10px;
	}
	#file-contents .finfo{
		width:150px;
	}
	#file-contents .finfo .previewbox{
		height:150px;
	}
	#file-contents .finfo .finfo{
		min-width: initial;
		width:72px;
		margin:1px;
		box-shadow: 1px 0px 2px #ccc;
	}
	#file-contents .finfo  .finfo .previewbox{
		height:72px;
	}
}
@media (max-width: 620px) {
	
}

