@charset "utf-8";
/**
* WG2.css
* mins01.com
* 2015-05-31 : create file
*/
/*
* # warning
* '공대여자는 이쁘다'를 나타내야만 사용하실 수 있습니다.
*/
html{padding:0;margin:0}
body{padding:0;margin:0;}
*{box-sizing: border-box;}

ul{padding:0;margin:0; list-style:none;}
li{padding:0;margin:0;}

#header{
	background: rgb(235,241,246);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 63%,rgba(0,0,0,0.13) 100%);

	text-align:center;
	font-size:30px;
	margin:0 auto;
	padding:0 5px 15px 5px ;
	//max-width:1000px;
	border:3px hidden #abc;
	border-top-style: hidden;
	box-shadow: 1px 1px 5px #999;
	//margin-bottom:10px;
}
#footer{
	//background: rgb(235,241,246);
	//background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 63%,rgba(0,0,0,0.13) 100%);

	text-align:center;
	font-size:30px;
	margin:0 auto;
	padding:0 5px 15px 5px ;
	max-width:1000px;
	border:3px hidden #abc;
	border-top-style: hidden;
	//box-shadow: 1px -1px 5px #999;
	margin-top:10px;
}
#content{
	background-color:#fff;
	box-shadow: 1px 1px 5px #999  inset;
	padding:2px 0px;
	text-align:center;
	//float:left;
	//clear:both;
	//width:70%;
}
#content ul::after{
	content:"";
	display:block;
	clear:both;
	
}

#content ul{
	
}
#content .finfo{
	display:inline-block;
	
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 63%,rgba(0,0,0,0.13) 100%);
	
	border-radius:10px;
	
	//float:left;
	min-width:100px;max-width:300px;
	//min-height:200px;//max-height:200px;
	
	margin:5px;
	box-shadow: 1px 1px 5px #999;
	overflow:hidden;
	transition: all 0.5s ease-out;
}
#content .finfo-dir{
	width:150px;
}

#content .finfo:hover{
	box-shadow: 0px 0px 10px #369;
}
#content .finfo a.title{
	white-space: nowrap; overflow: hidden; text-overflow: ellipsis;

	background: rgb(235,241,246);
	background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(160,216,239,1) 100%);
	border:3px hidden #abc;
	border-top-style: hidden;
	border-top-left-radius:inherit;
	border-top-right-radius:inherit;
	border-bottom-right-radius:0;
	border-bottom-left-radius:0;
	padding:0 3px 5px 3px ;
	
	box-shadow: 0px 1px 2px #999;
	content:attr(data-wg2-type)":"attr(data-wg2-basename);
	display:block;
	word-break:break-all;
	margin-bottom:5px;
	font-size:smaller;
}
#content .finfo::after{
	
}
/* */

#content .finfo .previewbox{
	padding:0px;
	margin:2px auto;
	height:150px;
	overflow:hidden;
}
/* 미리보기 이미지  */
#content .finfo .previewbox img{
	max-width:100%;
	max-height:100%;
}

/* 속에 속 */
#content .finfo .finfo{
	min-width: initial;
	width:72px;
	margin:1px;
	box-shadow: 1px 0px 2px #ccc;
}
#content .finfo .finfo  a.title{
	display:none;
}
#content .finfo .finfo::before{
font-size:smaller;
}
#content .finfo  .finfo .previewbox{
	max-height: 75px;
	width:70px;
	height:70px;
}

/*  */
#hidden-section{display:none;}


#postBottom{position:fixed;bottom:0; height:0px;width:0px; overflow:hidden; }

@media (max-width: 1200px) {
	
}
@media (max-width: 992px) {

}
@media (max-width: 768px) {
	*::-webkit-scrollbar {
	  width: 0px;
	}
}
@media (max-width: 620px) {
	
}

